/* 
General styles 
==============
*/
@font-face {
  font-family: myriad-pro;
  src: url('../fonts/MyriadPro-Regular.otf');
}

@font-face {
  font-family: blessed-day;
  src: url('../fonts/BLESD___ .ttf');
}

.row {
  padding-right: 0;
  padding-left: 0;
}

body {
  font-family: myriad-pro;
  font-weight: normal;
  font-size: 18px;
}

.container {
    max-width: 940px; 
    padding: 0;
  }

h2 {
  font-size: 48px;
  text-align: center;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5  {
  font-size: 20px;
}
/* 
Header 
======
*/

.header-full-width {
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
}

header {
  color: #fff;
}

.top-header {
    margin-top: 45px; 
}

.bottom-header {
  margin-top: 215px;
}

.bottom-header img {
  -webkit-box-shadow: 0px 20px 3px -17px rgba(189,189,190,1);
  -moz-box-shadow: 0px 20px 3px -17px rgba(189,189,190,1);
  box-shadow: 0px 20px 3px -17px rgba(189,189,190,1);
}

.navbar, .navbar-default {
  background: transparent;
  border: none;
}

#logo  {
  font-family: blessed-day;
  color: #fff;
  font-size: 72px;
}

#main-nav ul li a {
  color: #fff;
  border-bottom: 2px solid transparent;
  padding: 15px 10px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background: transparent;
  border-bottom: 2px solid #1abc9c;
}
#main-nav ul li a:hover{
  color: #7d8a98;
  border-bottom: 2px solid #1abc9c;
}

#main-nav ul li a {
  font-size: 18px;
}

.nav>li:last-child {
  font-weight: bold;
}

.navbar-default .navbar-nav>.active>a {
  background: transparent;   
}

h3 {
  font-size: 30px;
}

.bottom-header h3+p {
  margin-top: 40px;
  font-weight: light;
}

.buttons {
  margin-top: 40px;
}

.button {
  z-index: 0;
  display: inline-block;
  padding: 15px 20px;
  border-radius: 5%;
  background: #1abc9c;
}

.button:last-child {
  background: #3498db;
}
  
.circle {
  position: relative;
  margin: 0 -10px;
  z-index: 100;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ffffff;
  color: #425569;
  text-align: center;
}

/* 
About 
======
*/

.about {
  margin-top: 100px;
}

.about h4+p {
  margin-top: 20px;
}

.stats {
  padding: 0;
}

#smallstatistics {
  vertical-align: bottom;
  margin-left: 5px; 
}

/* 
Services 
======
*/

#services {
  margin-top: 100px;
}

.services {
  margin-top: 20px;
  display: inline-block;
  text-align: center;
  padding: 0 5px;
}
.inner-services {
  background: #eeeeee;
  padding: 40px 0;
}

.services>img {
  margin-top: 70px;
}

.services>h5 {
  margin-top: 30px;
  font-size: 20px;
}

.services>p {
  font-size: 14px;
  font-weight: light;
  margin-top: 10px;
  padding: 0 5px;
}

/* 
Features 
======
*/

.features {
  margin-top: 90px;
  background-image: url('../img/base.png');
  background-repeat: no-repeat;
}

.features h3 {
  margin-top: 70px;
  text-align: center;
  color: #ffffff;
}

.features p {
  text-align: center;
  color: #ffffff;
  margin-bottom: 100px;
}
/* 
Opinions 
======
*/

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.opinions>img {
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
}

.opinions>p {
  font-size: 14px;
}

/* 
Contacts
======
*/

.contact {
  background-color : #34495e; 
  padding-top: 110px;
  margin-top: 120px;
  padding-bottom: 120px;
}

.contacts {
  color: #ffffff;
  
}

.contacts p, .contacts span {
  font-size: 14px;
}

.contacts p {
  margin: 30px 0;
}

.contacts span {
  display: block;
  margin-top: 10px;
}

.contacts i {
  margin-right: 10px;
}

form {
  margin-left: 0 15px;
}

.styleSelect select {
  border: none;
  color: #cbd0d6;
  background: transparent;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.styleSelect {
  border-radius: 5px;
  background: url("../img/arrowSelect.png") no-repeat #7d8a98;
  background-position: right 5px top 1px;
  background-size: 35px;
}

#exampleSelect1>option {
  background-color: #7d8a98;
}

.form-control::-webkit-input-placeholder { 
  color: #cbd0d6; 
}
.form-control:-moz-placeholder { 
  color: #cbd0d6; 
  }
.form-control::-moz-placeholder { 
  color: #cbd0d6; 
}
.form-control:-ms-input-placeholder { 
  color: #cbd0d6; 
}

input[type="text"], input[type="email"], textarea.form-control {
  color: #cbd0d6;
  background-color: #7d8a98;
  border: none;
}

.nameandmail {
  padding-left: 0;
  padding-right: 0;
}

.buttonReset, .buttonSubmit{
  margin-left: 10px;
  font-size: 18px;
  color: white;
  width: 170px;
  height: 50px;
  border-radius: 5px;
  border: none;
}

.buttonReset {
  background: #1abc9c;
}

.buttonSubmit {
  background: #3498d9;
}

/* 
Footer
======
*/

.footer {
  position: relative;
  background: #2c3e50;
  height: 160px;
  line-height: 160px;
  text-align: center;
  color: #ffffff;
}

.footer:before {
    content: "";
    position: absolute;
    width: 0;
    left: 50%;
    margin: -20px;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 20px solid #2c3e50;
}

/*
Media queries
=============
*/

@media (max-width: 540px) {
  #main-nav ul li {
    float: none !important;
    text-align: center;
  }
  #main-nav {
    width: 100%;
  }
  #main-nav ul {
    width: 100%;
  }

  .text-center-xs {
    text-align: center;
  }
  

}

@media (max-width: 768px) {
  .text-center-sm {
    text-align: center;
  }
}

@media (max-width: 991px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }

  .navbar-nav {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  #main-nav ul li {
    float: left;
  }

  #main-nav {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
  }

  .bottom-header h3, .bottom-header h3+p {
    color:#000000;
  }

  .text-center-md {
    text-align: center;
  }

  .sm-image-tablet {
    max-width: 50%;
  }

  .sm-image {
    max-width: 80%;
  }

  .sm-image-shape {
    width: 100px;
  }

}
